@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?pdg3ie');
	src:url('fonts/icomoon.eot?#iefixpdg3ie') format('embedded-opentype'),
		url('fonts/icomoon.woff?pdg3ie') format('woff'),
		url('fonts/icomoon.ttf?pdg3ie') format('truetype'),
		url('fonts/icomoon.svg?pdg3ie#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: "\e600";
}
.icon-pause:before {
	content: "\e601";
}
.icon-stop:before {
	content: "\e602";
}
.icon-previous:before {
	content: "\e603";
}
.icon-next:before {
	content: "\e604";
}
.icon-loop:before {
	content: "\e605";
}