.active {
    background-color:#ffc300;
    color:#fff;
    text-shadow:0 0 5px #000;
}

.artist {
    display:block;
    font-size:12px;
    line-height:23px;
}

.artwork {
    display:inline-block;
    height:62px;
}

.artwork img {
    height:62px;
    margin:0;
    padding:0;
    width:62px;
}

.btn-large {
    font-size:16px;
}

.btn-primary {
    background-color:#ffce23;
    border:none;
    color:#3c3c3c;
    outline:none;
    padding:10px 15px;
}

.btn-primary:hover {
    background-color:#cba321;
    border-color:#9f801a;
    color:#fff;
}

.buttons {
    display:inline-block;
    float:right;
    font-size:32px;
    margin-right:15px;
    margin-top:15px;
}

.center-wrapper {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}

.genre {
    cursor:pointer;
    font-size:14px;
    padding:10px 15px 10px 10px;
    text-align:right;
    text-overflow:ellipsis;
    text-transform:uppercase;
    white-space:nowrap;
}

.genre:hover,
.sound:hover {
    background-color:#ffce23;
    color:#fff;
    text-shadow:0 0 3px #000;
}

.genres {
    margin-left:10%;
    width:20%;
}

.genres-list,.sounds-list {
    list-style:none;
    margin:0;
    padding:0;
}

.icon-play,.icon-next,.icon-previous {
    display:none;
}

.info {
    background-color:#fff1c2;
    color:#6f6f6f;
    margin:50px auto 0;
    padding:15px;
    width:350px;
}

.info span {
    display:block;
}

.logo-main {
    display:block;
    margin:0 auto 20px;
}

.main-container {
    display:table;
    height:100%;
    width:100%;
}

.main-container-player {
    height:100%;
    width:100%;
}

.sound {
    cursor:pointer;
    display:block;
    line-height:0;
    padding:10px;
}

.sound:hover .active .text-info {
    width:65%;
}

.sound:hover .icon-play,
.sound:hover > .active .icon-next,
.sound:hover > .active .icon-previous {
    display:inline-block;
}

.sound:hover .text-info {
    width:75%;
}

.sounds {
    text-align:left;
    width:60%;
}

.sounds,.genres {
    float:left;
    height:100%;
    overflow-x:hidden;
}

.duration {
    margin-left: 20px;
}

.text-info {
    display:inline-block;
    margin-left:6px;
    position:relative;
    top:-7px;
    white-space:nowrap;
    width:80%;
}

.title {
    display:inline-block;
    font-size:18px;
    font-weight:600;
    line-height:24px;
    overflow:hidden;
    position:relative;
    text-overflow:ellipsis;
    top:-5px;
    white-space:nowrap;
    width:100%;
}

body,html {
    background-color:#f4f4f4;
    font-family:'Open Sans', Tahoma, sans-serif;
    height:100%;
    margin:0;
    overflow:hidden;
    padding:0;
}

@media screen and (max-width: 1920px) {
    .genres {
        margin-left:15%;
        width:15%;
    }

    .sounds {
        text-align:left;
        width:50%;
    }
}

@media screen and (max-width: 1560px) {
    .genres {
        margin-left:15%;
        width:15%;
    }

    .sounds {
        text-align:left;
        width:55%;
    }
}

@media screen and (max-width: 1120px) {
    .genres {
        margin-left:10%;
        width:20%;
    }

    .sounds {
        text-align:left;
        width:60%;
    }
}

@media screen and (max-width: 1024px) {
    .artist {
        font-size:10px;
        line-height:0;
    }

    .artwork {
        height:36px;
    }

    .artwork img {
        height:36px;
        width:36px;
    }

    .buttons {
        font-size:24px;
        margin-right:7px;
        margin-top:7px;
    }

    .genre {
        font-size:12px;
        padding:5px;
    }

    .genres {
        margin-left:0;
        width:20%;
    }

    .sounds {
        text-align:left;
        width:80%;
    }

    .text-info {
        top:-3px;
        width:75%;
    }

    .title {
        font-size:14px;
        top:5px;
    }
}