<div class="genres nano" ng-show="genres.length">
    <ul class="genres-list nano-content">
        <li ng-repeat="genre in genres" ng-class="{ active: genresCtrl.isSelected($index) }" ng-click="genresCtrl.select($index, genre)" class="genre">{{genre.name}}</li>
    </ul>
</div>