<div class="sounds nano" ng-show="sounds.length">
    <ul class="sounds-list nano-content" when-scrolled="soundsCtrl.loadMore()">
        <li ng-repeat="sound in sounds" class="sound" >

                <div ng-class="{ active: soundsCtrl.isCurrent(sound.id)}" 
                     ng-click="soundsCtrl.play(sound)">                    
                    <div class="artwork">
                        <img ng-src="{{sound.artwork_url}}" />
                    </div>
                    <div class="text-info">

                        <span class="artist">{{sound.user.username}}                            
                            <span class="duration">
                                <span class="current" current-time ng-show="soundsCtrl.isCurrent(sound.id)"></span>
                                {{sound.duration | duration}}
                            </span>
                        </span>
                        <span class="title">{{sound.title}}</span>
                    </div>
                    <div class="buttons">
                        <span class="icon-previous" ng-hide="$index === 0" ng-click="soundsCtrl.prev()" stop-event></span>
                        <span class="icon-next" ng-click="soundsCtrl.next()" stop-event></span>
                        <span 
                            ng-class="{ 'icon-pause': soundsCtrl.isPlaying(sound.id), 'icon-play': !soundsCtrl.isPlaying(sound.id) }"></span>
                    </div>
                </div>

        </li>
    </ul>
</div>