<div class="main-container" ng-hide="soundcloud.authorized">
    <div class="center-wrapper">
        <img class="logo-main" src="img/logo.png">
        <p>Connect to SoundCloud:</p>
        <button class="btn-primary btn-large" ng-click="soundcloud.connect()">With your account</button>
        <button class="btn-primary btn-large" ng-click="soundcloud.connectAnon()">Anonymously</button>
    </div>
</div>